.chatMessageOwn {
    width: 50vh;
    left: 70%;
    text-align: right;
}

.chatMessage {
    width: 50vh;
    right: 0 auto;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBox {
    height: 600px;
    overflow-y: scroll;
}